html {
  user-select: none;
}

body {
  min-height: 100vh;
  background-color: #fe9d10;

  /* background-color: #fff; */
}

button {
  background-color: transparent;
  appearance: none;
}

img,
a {
  /* 控制元素在移动设备上是否使用滚动回弹效果. */
  -webkit-touch-callout: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

.scrolling {
  -webkit-overflow-scrolling: touch;
}

.scrolling::-webkit-scrollbar {
  display: none;
}

.middle {
  white-space: nowrap;
}

.middle::after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
}
