.videoPlayer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url('./tim5g.jpg') no-repeat;
  background-size: cover;

  .video-player {
    width: 100%;
    height: auto;
  }
}
